<header class="bg-white shadow-md w-screen">
  <div class="container nav_header mx-auto py-4 px-4">
    <div class="flex justify-between items-center">
      <!-- Left Navigation Links -->
      <div>
        <ul class="flex space-x-4">
          <li><a routerLink="/asfalto" class="text-gray-600 hover:text-gray-800">Asfalto</a></li>
          <li><a routerLink="/trail" class="text-gray-600 hover:text-gray-800">Trail</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-800">Comparador</a></li>
        </ul>
      </div>

      <!-- Logo Centered -->
      <div class="flex-grow flex justify-center">
        <a routerLink="/home">
          <img class="w-[100px]" src="/assets/images/logo.png" alt="Logo">
        </a>
      </div>

      <!-- Right Icons and Login -->
      <div class="flex items-center space-x-4">
        <ul class="flex space-x-4">
          <li>
            <img
              title="Cart"
              routerLink="/cart"
              class="w-6 h-auto"
              src="/assets/images/cart.svg"
            />
          </li>
          <li>
            <img
              title="User"
              routerLink="/user"
              class="w-6 h-auto"
              src="/assets/images/user.svg"
            />
          </li>
          <li *ngIf="!userLoginOn">
            <a routerLink="/auth/login" class="text-gray-600 hover:text-gray-800">Iniciar Sesión</a>
          </li>
          <li *ngIf="userLoginOn">
            <a routerLink="/home" class="text-gray-600 hover:text-gray-800">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
