<header class="bg-white shadow-md w-screen">
  <div class="container nav_header mx-auto py-4 px-4">
      <div class="flex justify-between  items-center">

          <div class="">
              <ul class="flex space-x-4">
                  <li><a href="#" class="text-gray-600 hover:text-gray-800">Productos</a></li>
                  <li><a href="#" class="text-gray-600 hover:text-gray-800">Comparador</a></li>
              </ul>
          </div>

          <div class="">
            <img
            class="w-[100px] mx-[0px]"
            src="/assets/images/logo.png">
          </div>

          <div class="">
            <ul class="flex space-x-4">
              <li><img
                title="Cart"
                routerLink="/cart"
                class="mx-[15px] w-6 h-auto"
                src="/assets/images/cart.svg"
              /></li>
              <li><img
                title="User"
                routerLink="/user"
                class="mx-[15px] w-6 h-auto"
                src="/assets/images/user.svg"
              /></li>
          </ul>
          </div>

      </div>
  </div>
</header>


