<footer class="bg-gray-300 text-gray-800 py-4 w-full">
  <div class="container mx-auto flex justify-between items-center">
    <p>&copy; 2024 Zaps. Todos los derechos reservados.</p>
    <ul class="flex space-x-4">
      <li><a href="#" class="text-gray-600 hover:text-gray-800">Política de Privacidad</a></li>
      <li><a href="#" class="text-gray-600 hover:text-gray-800">Términos de Uso</a></li>
      <li><a href="#" class="text-gray-600 hover:text-gray-800">Contacto</a></li>
    </ul>
  </div>
</footer>
